<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="outer">
      <div class="template-section main-section">
        <div class="middle">
          <div id="lightbox" class="sign-in-box ext-sign-in-box fade-in-lightbox">
            <div class="win-scroll">
              <div>
                <img src="../../../../../assets/brand/logo.png" alt="" class="logo">
              </div>
              <div class="main">
                <div>
                  <div class="row title ext-title">
                    <div aria-level="1">Iniciar sesión</div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <mat-form-field class="w-100">
                        <mat-label>Usuario</mat-label>
                        <input type="text"
                               placeholder="Ingresa tu nombre de usuario"
                               formControlName="username"
                               matInput>
                        <mat-error *ngIf="f.username.hasError('required') && f.username.touched">
                          Ingresa tu nombre de usuario
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <mat-form-field class="w-100">
                        <mat-label>Contraseña</mat-label>
                        <input [type]="hidePassword ? 'password' : 'text'"
                               placeholder="Ingresa tu contraseña"
                               formControlName="password"
                               matInput>
                        <mat-icon (click)="hidePassword = !hidePassword"
                                  matSuffix>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="f.password.hasError('required') && f.password.touched">
                          Ingresa tu contraseña
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-end">
                    <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
